$subtitulo-index-color-texto: red;
$subtitulo-fuente-anton: 'Anton', sans-serif;
$color-rosa: pink;
$color-amarillo: yellow;
$color-negro: black;
$pie-pagina-imagen: "../assets/pie_de_pagina2.jpg";
$color-gris-redes-sociales: grey;
$main-index-imagen: "../assets/fondos-paginas/index2.jpg";
$color-azul: blue;
$fuente-h3-parrafo-index-monserrat: 'Montserrat', sans-serif;
$color-blanco: white;
$main-registrarme-imagen: "../assets/fondos-paginas/login.jpg";
$main-contactanos-imagen: "../assets/fondos-paginas/contactanos2.jpg";
$main-como-comprar-imagen: "../assets/fondos-paginas/como-comprar2.jpg";